@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap";

body{
    display: flex;
    height: 140vh;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.container{
    font-family: 'Quicksand', sans-serif;
    font-size: 230%;
    width: 35%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0;
    margin-bottom: 1.5em;
    
}
.tanjiro{
    height: 10em;
    width: 10em;
    border-radius: 10em;

    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    
    padding: 20px 80px;
    border-radius: 50px;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    color: white;
}
input{
    width: 90%;
    font-size: 0.8em;
    padding: 0.5em;
    margin-top: 0.1em;
    font-family: 'Quicksand', sans-serif;
    border: none;
    cursor: pointer;
    
    
}

.submit1{
    
    width: 94%;
    font-size: 16px;
    padding: 1.5vh;
    border-radius: 30px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-size: 0.9em;
}
span{
    padding:8px;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}
.submit1:hover{
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    color:white;
}

#userp,#passp,#uname,#phone,#email,#fname,#lname{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: -50px;
    color:rgba(168, 5, 18, 0.932);
}

@media only screen and (max-width:500px){
    html{
        font-size: 70%;
    }
    .container{
    
        width: 60%;
    }
}

@media only screen and (max-width:400px){
    html{
        font-size: 65%;
    }
    .container{
        width: 65%;
    }
}